
scripts
projects
2014
2015
2016
2017
2018
2019
2020
2021
2022
MayaSecurityLogs
mayaLog
FBX


2023/prefs/shelves/shelf_adv.mel
2023/prefs/userPrefs_recents.mel
2023/prefs/windowPrefs.mel
2023/prefs/workspaces
2023/prefs/mainWindowStates
